---
import Footer from '@components/Footer.astro'
import Nav from '@components/Nav.astro'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'

const { title } = Astro.props
---

<html lang="en">
	<head>
		<ViewTransitions />
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{title ?? SITE_TITLE}</title>
		<meta name="title" content={SITE_TITLE} />
		<meta name="description" content={SITE_DESCRIPTION} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={SITE_TITLE} />
		<meta property="og:description" content={SITE_DESCRIPTION} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={SITE_TITLE} />
		<meta property="twitter:description" content={SITE_DESCRIPTION} />
	</head>
	<body class="meshed-gradient bg-gray-950 px-1 text-gray-300 antialiased sm:px-4 md:px-0">
		<Nav />
		<div class="container mx-auto max-w-5xl px-3 py-8">
			<slot />
		</div>
		<Footer class="mt-16 text-gray-500" />
	</body>
</html>
